@page "{id?}"
@model DetailsModel
@{
    ViewData["Title"] = "Details";
}
<h1> @ViewData["Title"] </h1>

<table class="table">
    <thead>
        <tr>
            <th>PnL</th>
        </tr>
    </thead>
    <tbody>
    @if (Model.Strategies != null)
    {
        foreach (var strategy in Model.Strategies)
        {
            <tr>
                <td>@strategy.GetPnl()</td>
            </tr>
        }
    }
    </tbody>
</table>
