@page "{id?}"
@model DetailsModel
@{
    ViewData["Title"] = "Details";
}
<h1> @ViewData["Title"] </h1>

<nav aria-label="Breadcrumb" class="breadcrumb">
    <ul>
        <li> <a asp-area="" asp-page="/Index">Home</a></li>
        <li> <a asp-area="" asp-page="/Containers/Index">Containers</a></li>
        <li> <span aria-current="page">@ViewData["Title"]</span></li>
    </ul>
</nav>

