@page "{id?}"
@model EditModel

@{
    ViewData["Title"] = "Edit";
}

<div>
    <h1>@ViewData["Title"]</h1>
    <form method="post">
        <p>
            <label asp-for="Instrument!.Name">Имя инструмента:</label><br />
            <input asp-for="Instrument!.Name" />
        </p>

        <p>
            <label asp-for="Instrument!.Name">Биржа:</label><br />
            <input asp-for="Instrument!.Exchange" />
        </p>

        <p>
            <label asp-for="ContainerSettings!.Account">Аккаунт</label><br/>
            <select asp-for="ContainerSettings!.Account"  asp-items="Model.AccountsSL"></select>
        </p>

        <p>
            <label asp-for="ContainerSettings!.OrderPriceShift">Сдвиг цены ордеров (в пунктах)</label><br/>
            <input asp-for="ContainerSettings!.OrderPriceShift" />
        </p>

        <p>
            <label asp-for="OptionStrategySettings!.Volume">Объем</label><br/>
            <input asp-for="OptionStrategySettings!.Volume" />
        </p>

        <p>
           <label asp-for="OptionStrategySettings!.StrategyTargetPnl">Target PnL</label><br/> 
           <input asp-for="OptionStrategySettings!.StrategyTargetPnl" />
        </p>

        <p>
           <label asp-for="OptionStrategySettings!.MinDaysToExpiration">MinDaysToExpiration</label><br/> 
           <input asp-for="OptionStrategySettings!.MinDaysToExpiration" />
        </p>

        <p>
            <label asp-for="SpreadSettings!.BuyStrikeShift">Buy strike shift</label><br/>
            <input asp-for="SpreadSettings!.BuyStrikeShift" />
        </p>

        <p>
            <label asp-for="SpreadSettings!.SellStrikeShift">Sell strike shift</label><br/>
            <input asp-for="SpreadSettings!.SellStrikeShift" />
        </p>

        <input type="submit" />
    </form>
</div>