@page
@model IndexModel
@{
    ViewData["Title"] = "Containers";
}
<a asp-page="Create">Create New</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>InTrade</th>
            <th>Instrument</th>
            <th>Account</th>
        </tr>
    </thead>
    <tbody>
    @if (Model.Containers != null)
    {
        foreach (var container in Model.Containers)
        {
            <tr>
                <td>@container.Id </td>
                <td>@container.InTrade</td>
                <td>@container.Instrument.FullName</td>
                <td>@container.ContainerSettings.Account</td>
            </tr>
        }
    }
    </tbody>
        
</table>