<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OptionTraderWebGui</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OptionTraderWebGui.styles.css" asp-append-version="true" />
</head>
<body>
	<header class="container">
		<ul class="nav-menu">
			<li> <a asp-area="" asp-page="/Index">Home</a> </li>
			<li> <a asp-area="" asp-page="/Privacy">Privacy</a> </li>
			<li> <a asp-area="" asp-page="/Connector/Index">Connector</a> </li>
			<li> <a asp-area="" asp-page="/Containers/Index">Containers</a> </li>
		</ul>
    </header>
	
    <main role="main" class="container">
        @RenderBody()
    </main>

    <footer>
        <div class="container">
           
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>