* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: monospace;
	list-style:none;
}
.container {
	margin: auto 10%;
	margin-bottom: 1rem;
}
.row {
	margin-bottom: 1rem;
}
.nav-menu {
	background-color: #bbb;
	margin-bottom: 1rem;
}
.nav-menu > li {
	font-size: 1.5rem;
	font-weight: 700;
	display: inline-block;
	margin-right: 1em;
	text-decoration: none;
}

.table {
	width: 100%;
}

.table, .table td, .table th  {
	border: 1px solid black;
	border-collapse: collapse;
}
.strategies-leg-table th ,
.strategies-leg-table td {
	padding: .2em;
}

.strategies-leg-table {
	margin-bottom: .2em;
}

.strategies-leg-table td, .strategies-leg-table th {
	padding: .3em;
	text-align: left; 
	vertical-align: bottom;
}
.collapsing-checkbox{
	display: none;
}
.collapsing-strategy-row {
	display:none;
	background-color: #ccc;
}

.collapsing-checkbox:checked + .strategies-leg-table .collapsing-strategy-row {
	display: table-row;
}

.option-leg-table-collapse-row {
	display: none;
}